.card-content.todo {
    h4.card-todo {
        text-align: center;
    }
    .search {
        .col-sm-12 {
            .input {
                padding: 0 !important;
            }
        }
    }
    .full-width {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        float: left;
        clear: both;
        .col-sm-12 {
            position: relative;
            width: 100%;
            padding: 0 50px;
        }
        textarea,
        input[type="text"],
        input[type="date"],
        select,
        textarea {
            width: 100%;
            padding-left: 10px;
            border: 1px solid #333;
            height: 29px !important;
            outline: none;
            &:focus,
            &:active,
            &:hover {
                border: 1px solid #007bff;
            }
        }
        input.search {
            padding-left: 10px;
            margin-bottom: 20px;
            padding: 0 0 0 5px;
        }
        .card-body {
            width: 100%;
            margin-bottom: 20px;
            padding: 20px 50px;
            .name {
                width: 100%;
                border: 1px solid #333;
                .col-sm-12 {
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    margin: 10px 0;
                    input {
                        padding: 0 0 0 5px;
                    }
                    .checkbox {
                        width: 30%;
                        display: flex;
                        align-items: center;
                        input[type="checkbox"] {
                            margin-right: 10px;
                        }
                    }
                    .action {
                        width: 70%;
                        text-align: right;
                        margin-right: 32px;
                        button.btn-blue {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .data {
                width: 100%;
                display: block;
                float: left;
                .full-width {
                    border-right: 1px solid #333;
                    border-left: 1px solid #333;
                    border-bottom: 1px solid #333;
                    width: 100%;
                    padding: 20px 0;
                }
                .col-sm-12 {
                    label.e-float-text {
                        font-weight: 700;
                        font-size: 14px;
                    }
                    input {
                        width: 100%;
                        border: 1px solid #333;
                        height: 27px !important;
                        outline: none;
                        padding: 0 0 0 5px !important;
                    }
                    textarea {
                        height: 85px !important;
                        padding: 5px 0 0 5px !important;
                    }
                    select {
                        margin-bottom: 10px;
                        padding: 0 0 0 5px !important;
                    }
                }
                .piority {
                    margin-right: -10px;
                }
            }
        }
    }
    .bulk-action {
        border-top: 1px solid #333;
        padding: 20px 0;
        .text-bulk {
            width: 30%;
            float: left;
        }
        .action-bulk {
            width: 70%;
            float: left;
            text-align: right;
            button.btn-red {
                margin-left: 10px;
            }
        }
    }
    button.btn-red {
        background: #d9534f;
        color: #fff;
        font-size: 14px;
        margin: auto;
        width: 150px;
        border: none;
        outline: none;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    button.btn-green {
        background: #5cb85c;
        color: #fff;
        font-size: 14px;
        margin: auto;
        width: 150px;
        border: none;
        outline: none;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 5px;
        display: block;
    }
    button.btn-blue {
        background: #00bcd4;
        color: #fff;
        font-size: 14px;
        margin: auto;
        width: 150px;
        border: none;
        outline: none;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
    .full-width {
        .col-sm-5 {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
        .col-sm-7 {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .card-body {
        padding: 0 !important;
        padding: 20px 0 !important;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        margin-bottom: 0 !important;
        .name {
            padding: 0 0 20px 0 !important;
            border: none !important;
            border-bottom: 1px solid #333 !important;
            .col-sm-12 {
                display: block !important;
                text-align: center;
                padding: 0 !important;
                margin: 0 !important;
            }
            .action {
                width: 100% !important;
                display: block !important;
                text-align: center !important;
            }
            .checkbox{
                width: 100% !important;
                display: block !important;
                text-align: left !important;
                padding: 0 15px 15px 15px !important;
            }
        }
        .data {
            width: 100%;
            display: block !important;
            float: left !important;
            padding: 0 !important;
            .full-width {
                border: none !important;
            }
        }
    }
    .bulk-action{
        border: none !important;
    }

}
