<div class="app-content">
  <form name="editForm" [formGroup]="editForm" novalidate>

    <div class="main-content">
      <div class="full-width">
        <div class="col-sm-5">
          <div class="card-content task">
            <h4 class="card-new">New Task</h4>
            <div class="full-width">
              <!-- name -->
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <label class="e-float-text required" for="name">Task</label>
                    <input type="text" id="name" name="name" formControlName="name" [(ngModel)]="model.name"
                      placeholder="Add new task ..." title="{{ model.name ? model.name : '' }}">
                    <span class="e-float-line"></span>
                    <div
                      *ngIf="editForm.controls['name'].invalid && (editForm.controls['name'].dirty || editForm.controls['name'].touched)"
                      class="input-error">
                      <div *ngIf="editForm.controls['name'].errors?.required">
                        Task has required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- description -->
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <label class="e-float-text" for="description">Description</label>
                    <textarea type="text" id="description" name="description" full-widths="5" [(ngModel)]="model.description"
                      formControlName="description" title="{{ model.description }}"></textarea>
                    <span class="e-float-line"></span>
                  </div>
                </div>
              </div>

            </div>
            <div class="full-width">
              <!-- date -->
              <div class="col-sm-12 flex-around">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="e-float-input">
                      <label class="e-float-text" for="description">Due Date </label>
                      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="model.date"
                        (blur)="checkDueDate()" change="checkDueDate()" formControlName="date">
                      <span class="e-float-line required"></span>
                      <div class="input-error"
                        *ngIf="editForm.controls['date'].invalid && (editForm.controls['date'].dirty || editForm.controls['date'].touched)">
                        <div *ngIf="editForm.controls['date'].errors?.required">
                          Due Date has required
                        </div>
                      </div>
                      <div class="input-error"
                        *ngIf="editForm.controls['date'].invalid && (editForm.controls['date'].dirty || editForm.controls['date'].touched)">
                        <div *ngIf="editForm.controls['date'].errors?.errDueDate">
                          Due date greater than or equal to current date
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- piority -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="e-float-input">
                      <label class="e-float-text" for="piority"> Piority</label>
                      <select class="form-control" formControlName="piority" [(ngModel)]='model.piority'>
                        <option *ngFor="let item of lstPiorty;let i = index" [value]="item.code">
                          {{item.name}}</option>
                      </select>
                      <span class="e-float-line"></span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="full-width">
              <button type="button"  class="btn-green" (click)="addItem()">Add</button>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="card-content todo">
            <h4 class="card-todo">To Do List</h4>
            <div class="full-width search">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="search.text" type="text" class="search"
                      (keypress)="searchListEnter($event,search.text)" placeholder="Search ...">
                    <span class="e-float-line"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-width" *ngIf="dataTask && dataTask.length > 0">
              <div class="card-body" *ngFor="let item of dataTask;let i = index">
                <div class="border">
                  <div class="name">
                    <div class="col-sm-12">
                      <div class="checkbox">
                        <input type="checkbox" name="task" id="checkbox-{{item.id}}" [value]="item.id"
                          (change)="changeCheckBox($event)">
                        {{item.title}}
                      </div>
                      <div class="action">
                        <button class="btn-blue" type="button" (click)="showDetail(item.id)">Detail</button>
                        <button class="btn-red" type="button" (click)="removeTask(item.id)">Remove</button>
                      </div>
  
                    </div>
                  </div>
                  <div class="data"  *ngIf="item.show ">
                    <div class="full-width">
                      <div class="col-sm-12">
                        <label class="e-float-text" for="Task"> Task</label>
                        <input class="form-control"  type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.name"
                          title="{{ item.name ? item.name : '' }}">
                      </div>
                      <div class="col-sm-12">
                        <label class="e-float-text" for="description">Description</label>
                        <textarea class="form-control"  type="text" [ngModelOptions]="{standalone: true}" full-widths="5" [(ngModel)]="item.description"
                          title="{{ item.description }}"></textarea>
                      </div>
                      <div class="col-sm-12">
                        <label class="e-float-text" for="description">Due Date</label>
                        <input type="date" class="form-control" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="item.date">
                      </div>
                      <div class="col-sm-12 piority">
                        <label class="e-float-text" for="piority">Piority</label>
                        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]='item.piority'>
                          <option *ngFor="let item of lstPiorty;let i = index" [value]="item.code">
                            {{item.name}}</option>
                        </select>
                      </div>
                      <div class="col-sm-12">
                        <button type="button"  class="btn-green" (click)="updateData(item,item.id)"
                        [disabled]="flagDisabledUpdate">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-width bulk-action" *ngIf="flagShowBulk && dataTask.length > 0">
              <div class="col-sm-12">
                <div class="text-bulk">
                  Bulk Action:
                </div>
                <div class="action-bulk">
                  <button type="button" class="btn-blue" disabled>Done</button>
                  <button type="button" class="btn-red" (click)="removeItem()" >Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
